@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=cyrillic');

body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Tahoma, sans-serif;

  background-color: #849d8f;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;

  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;

  cursor: pointer;
}

.button:hover,
.button:focus {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

/* Временно для сетки */

.inner-navigation,
.main-header__search,
.user-navigation__form-login,
.modal,
.user-cart,
.user-cart__button,
.contacts {
  display: none;
}

.main-header {
  position: relative;
  max-width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
  z-index: 1;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 10px;

  /* Временно для сетки
  min-height: 110px;
  background-color: antiquewhite;*/
}

.main-navigation {
  display: flex;
  width: 560px;

  /* Временно для сетки
  min-height: 64px;
  background-color: violet;*/
}

.main-navigation__logo {
  width: 154px;
  height: 64px;
  margin-right: 10px;
}

.main-navigation__list,
.inner-navigation,
.user-navigation {
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-navigation__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 380px;

  /* Временно для сетки
  min-height: 17px;
  background-color: teal;*/
}

.main-navigation__link {
  position: relative;

  display: block;
  padding: 7px 14px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;

  text-decoration: none;
}

.main-navigation__link:hover,
.main-navigation__link:focus,
.user-navigation__link:hover,
.user-navigation__link:focus,
.user-navigation__link--active {
  color: #333333;

  background: #f7f6f3;
  text-decoration: none;
  border-radius: 20px;
}

.main-navigation__link:active {
  box-shadow: inset 0 2px 1px 0 #696969;
}


.main-navigation__active {
  background-color: #d07058;
  border-radius: 20px;
}

/* подчеркивания для пунктов меню
.main-navigation__link::after {
  position: absolute;

  content: "";

  top: 25px;
  left: 0;
  width: 80%;
  height: 1px;
  margin-left: 15px;

  background-color: #ffffff;
  opacity: 0.2;
}
.main-navigation__link:hover::after,
.main-navigation__link:focus::after,
.main-navigation__active:hover::after,
.main-navigation__active:focus::after{
  opacity: 0;
}*/

.inner-navigation__item {
  background-color: #f8f7f4;
}

.inner-navigation__link {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;

  text-decoration: none;
}

.inner-navigation__link:hover,
.inner-navigation__link:focus {
  background-color: #fbded7;
}

.inner-navigation__link:active {
  background-color: #f6b5a5;
}

.inner-navigation__link-active {
  color: #ffffff;

  background-color: #d07058;
}

.main-header__search-wrapper {
  margin-left: auto;
  width: 32px;
  height: 32px;
}

.main-header__search-wrapper::before {
  content: "";

  display: block;

  width: 17px;
  height: 17px;
  padding: 7px;

  background-color: #a1b6aa;
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%;
}

.main-header__search-wrapper:hover::before,
.main-header__search-wrapper:focus::before{
  background-color: #f7f6f3;
  background-image: url("../img/search_hover.svg");
}

.main-header__search {
  color: #323232;

  background-color: #f8f7f4;
}

.user-navigation {
  display: flex;
  justify-content: flex-end;
  width: 22s0px;

  /* Временно для сетки
  min-height: 32px;
  background-color: chartreuse;*/
}

.user-navigation__item {
  margin-left: 10px;
}

.user-navigation__login,
.user-navigation__cart {
  background-color: #a1b4a9;
  border-radius: 20px;
}

.user-navigation__login-link {
  position: relative;

  display: block;
  padding: 7px 15px 7px 45px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;

  text-decoration: none;
}

.user-navigation__login-link::before {
  content: "";

  position: absolute;
  top: 5px;
  left: 16px;

  width: 20px;
  height: 20px;

  display: block;

  background-image: url("../img/login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-navigation__login-link:hover::before,
.user-navigation__login-link:focus::before {
  background-color: #f7f6f3;
  background-image: url("../img/login_hover.svg");
}

.user-navigation__form-login {
  color: #323232;

  background-color: #f8f7f4;
}

.user-navigation__form-link {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #323232;

  text-decoration: underline;
}

.user-navigation__cart-link {
  position: relative;

  display: block;
  padding: 7px 32px 7px 45px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;

  text-decoration: none;
}

.user-navigation__cart-link::before {
  content: "";

  position: absolute;
  top: 5px;
  left: 16px;

  width: 21px;
  height: 20px;

  display: block;

  background-image: url("../img/cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-navigation__cart-link:hover::before,
.user-navigation__cart-link:focus::before {
  background-color: #f7f6f3;
  background-image: url("../img/cart_hover.svg");
}

.user-navigation__login-link:hover,
.main-navigation__link:focus,
.user-navigation__cart-link:hover,
.user-navigation__link:focus,
.user-navigation__link--active {
  color: #333333;

  background: #f7f6f3;
  text-decoration: none;
  border-radius: 20px;
}

.user-cart {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
}

.user-cart__cost {
  color: #999999;
}

.user-cart__footer {
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
}


.main-header__working-time {
  align-self: flex-end;
  margin: 0;
  width: 100%;

  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  text-align: right;
  color: #ffffff;

  /* Временно для сетки
  min-height: 38px;
  background-color: khaki;*/
}

.main-header__phone {
  display: block;

  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
}

.slider {
  max-width: 1146px;
  margin: 0 auto;
  margin-top: -115px;
  padding: 0 27px;
}

.slider-item__description {
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
}

.slider-item__link {
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  text-align: center;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);

  text-decoration: none;
}

.special-offer {
  max-width: 1146px;
  margin: 0 auto;
  margin-top: -230px;
  margin-bottom: 40px;
  padding: 0 27px;
}

.special-offer__promo {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;

  /* Временно для сетки
  min-height: 230px;
  background-color: teal;*/
}

.special-offer__item {
  width: 540px;
}

.special-offer__item:first-child {
  background-color: #ac0933;
  background-image: url(../img/raspberry_bg.jpg);
  background-repeat: no-repeat;
}

.special-offer__item:last-child {
  background-color: #5b3622;
  background-image: url(../img/shoko_bg.jpg);
  background-repeat: no-repeat;
}

.special-offer__heading {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  color: #ffffff;
}

.special-offer__description {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: #ffffff;
}

.special-offer__link {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;

  text-decoration: none;
}

.catalog {
  max-width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}

.catalog__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog__item {
  width: 267px;
  margin-bottom: 40px;
  margin-right: 26px;
}

.catalog__item:nth-child(4n) {
  margin-right: 0;
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.catalog__link {
  text-decoration: none;
}

.button.catalog__link {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;

  background-image: linear-gradient( to top, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  border: none;

  text-decoration: none;
}

.button.catalog__link:hover,
.button.catalog__link:foc- {
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(to top, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
  box-shadow: 0px 2px 2px 0px #ac1000;
}

.catalog__product {
  display: flex;
  flex-direction: column;
}

.catalog__heading {
  order: 1;

  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;

  text-decoration: underline;
}

.catalog__price {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  color: #ffffff;
}

.catalog__weight {
  font-size: 30px;
  line-height: 45px;
  font-weight: 700;
  color: #ffffff;
}

.features {
  max-width: 1146px;
  margin: 0 auto;
  margin-bottom: 40px;

  /*отступы для центровки, тут какая-то проблема с паддингами, запуталась
  padding: 27px 47px;*/
  /*отступы внутри блока
  padding: 27px 20px;*/
  background-color: #efe4cc;
  background-image: url(../img/waffle_bg.jpg);
  background-repeat: repeat;
}

.features__description {
  margin: 0;

  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color: #323232;
}

.features__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.features__item {
  width: 540px;
}

.features__item-description {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #323232;
}

.container {
  max-width: 1146px;
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 0 27px;

  display: flex;
  justify-content: space-between;
}

.blog {
  width: 560px;

  background-color: #ffffff;
  background-image: url(../img/strawberry_bg.jpg);
  background-repeat: no-repeat;
}

.blog__heading {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #323232;

  text-decoration: underline;
}

.blog__description {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #323232;
}

.subscription {
  width: 550px;

  background-color: #f8f7f4;
  border: 5px solid transparent;
  border-image: 10 repeating-linear-gradient(135deg, transparent, transparent 10px, #92cdff 10px, #92cdff 20px, transparent 20px, transparent 30px, #fe9e90 30px, #fe9e90 40px);
}

.subscription__description {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #5a5a5a;
}

.map-wapper {
  width: 1200px;
  margin: 0 auto;
}

.contacts {
  width: 302px;

  background-color: #fffffe;
}

.contacts__item {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  font-style: normal;
  color: #323232;
}

.contacts__address,
.contacts__phone {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #323232;
}

.feedback_button {
  font-style: normal;
}

.main-footer {
  max-width: 1146px;
  margin: 0 auto;
  padding: 27px;
  padding-top: 17px;

  display: flex;
}

.footer-social__list {
  width: 186px;
  margin: 0;
  margin-right: 214px;
  padding: 0;

  list-style: none;
}

.footer-menu__list {
  width: 330px;
  margin: 0;
  margin-right: 228px;
  padding: 0;

  list-style: none;
}

.footer-menu__link {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
}

/*первый элемент в списке должен быть жирным, не работает, не могу понять почему
.footer-menu__item:first-child {
  font-weight: 700;
}*/

.main-footer__copyright {
  width: 195px;
  margin: 0;

  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
}

.main-footer__link {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
}

.modal-feedback {
  color: #323232;

  background-color: #f8f7f4;
}

.modal-feedback {
  width: 477px;
}

.modal-feedback__description {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: #323232;
}

.modal-feedback__form-input {
  font: inherit;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;

  background-color: #ffffff;
}

.modal-feedback__button-close {
  border: none;
}

.modal-feedback__form-label {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}

.breadcrumbs {
  max-width: 1146px;
  margin: 0 auto;
  margin-top: 25px;
  padding: 0 27px;

  list-style: none;
}

.breadcrumbs__link {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
}

.breadcrumbs__link-active {
  text-decoration: none;
}

.inner-main__heading {
  max-width: 1146px;
  margin: 0 auto;
  padding: 10px 27px;

  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  color: #ffffff;
}

.filters {
  max-width: 1146px;
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 0 27px;
}

.filters__form {
  width: 880px;

  display: flex;
  flex-wrap: wrap;
}

.filters__form-item,
.filters__form-select {
  background-color: #a9b9af;
}

.filters__form-label {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;
}

.filters__form-list {
  margin: 0;
  padding: 0;

  display: flex;

  list-style: none;
}

.filters__form-select,
.filters__form-range,
.filters__form-option {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
}

.filters__button {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;

  background-color: #a6b7ae;
  border: 2px solid #fcfcfc;
}

.pagination {
  max-width: 1146px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 30px;
  padding: 0 27px;

  list-style: none;
}

.pagination__link {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;

  text-decoration: none;
}

.pagination__prev {
  opacity: 0.2;
}

.pagination__active {
  color: #323232;

  background-color: #ffffff;
}
